<footer class="footer">
    <nav class="">
        <p class="">Copyright © {{ "now"|date("Y") }} {{SITE_NAME}} | <a href="https://github.com/PierrePineau" target="_blank" rel="nofollow"  class="hover:text-primary focus:text-primary text-white"><i class="fa-brands fa-github mr-1"></i> PierrePineau </a></p>
    </nav>
</footer>
