<footer class="footer">
    <nav class="container">
        <p class="">Copyright © {{ "now"|date("Y") }} {{SITE_NAME}} | <a href="{{path('mentions_legales')}}" class="link-white">Mentions Légales</a></p>
    </nav>
</footer>