<div id="loader">
    <lottie-player
        id="loader-animation"
        autoplay
        loop
        mode="normal"
        src="{{asset('assets/animation/logo.json')}}">
    </lottie-player>
</div>