$font-base: 16px;
$breakpoint-mobile: 768px;
// $white: #FFFFFF;
$dark: var(--color-dark);
$light: var(--color-light);

$primary: var(--color-primary);
$secondary: var(--color-secondary);

// $rgba-black-0: rgba(13, 13, 13,0);
// $rgba-grey: rgba(64, 64, 64,1);

// $gradient-t-b: linear-gradient(180deg, $rgba-grey 70%, rgba(0,0,0,0) 100%);
// $shadow-b: 0px 6px 10px 6px rgba(100, 100, 100, 0.2);

$border-radius: 4px;
$maxWidthContainer: 1536px;