@use '../base/variables' as *;

%flexCenterCenter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

%flexCenter{
    display: flex;
    align-items: center;
}

%flexCol{
    display: flex;
    flex-direction: column;
}

%flexColCenter{
    display: flex;
    flex-direction: column;
}
%imgCover{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}
%imgContain{
    object-fit: contain;
    object-position: center;
    width: 100%;
    height: 100%;
}


%overlay{

    &::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $dark;
        opacity: .5;
    }
   
}

%rounded{
    border-radius: 4px;
}

%transition{
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}

%box-shadow{
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}