@use "../abstract" as *;
@use "../base" as *;

.container{
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
    padding-left: space(2);
    padding-right: space(2);
    display: flex;
    flex-direction: column;
}

.rounded-element{
    @extend %rounded;
}

.border-custom{
    border: 2px solid;
    &-primary{
        @extend .border-custom;
        border-color: $primary;
    }
    &-secondary{
        @extend .border-custom;
        border-color: $secondary;
    }
}
