@use "../abstract" as *;
@use "../base" as *;



.rounded-element{
    @extend %rounded;
}

.border-custom{
    border: 2px solid;
    &-primary{
        @extend .border-custom;
        border-color: $primary;
    }
    &-secondary{
        @extend .border-custom;
        border-color: $secondary;
    }
}
