@use "../abstract" as *;
@use "../base" as *;

.btn{
    font-family: 'Barlow Condensed', sans-serif;
    border: 2px solid;
    position: relative;
    padding: space(.3) space(.5);
    @extend %transition;
    @extend %rounded;
    width: fit-content;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 10;
    &::after{
        content: "";
        position: absolute;
        height: 100%;
        width: 0;
        bottom: 0;
        top: 0;
        left: 0;
        @extend %transition;
    }
   
    &::after{
        z-index: -1;
    }


    &:hover,&:focus, &:active, &.is-active{
        outline: none;

        &::after{
            width: 100%;
        }
    }
    &-full{
        border: 0px !important;
        // Si le boutton est plein 
        &::before{
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            top: 0;
            left: 0;
            z-index: -2;
            @extend %transition;
        }
    }
    &-primary{
        @extend .btn;
        border-color: $primary;
        color: $primary;
        &:hover,&:focus, &:active, &.is-active{
            border-color: white;
            &::after{
                background-color: white;
            }
            &.btn-full{
                // Color bg if full 
                color: white;
                &::before{
                    background-color: $primary;
                }
            }

        }

        &.btn-full{
            // Color bg if full 
            color: white;
            &::before{
                background-color: $primary;
            }
        }

        
    }
    &-white{
        @extend .btn;
        border-color: white;
        color: white;
        &:hover,&:focus, &:active, &.is-active{
            border-color: $primary;
            &::after{
                background-color: $primary;
            }
        }
        // Color bg if full 
        &::before{
            background-color: white;
        }
    }
    &-secondary{
        @extend .btn;
        border-color: $secondary;
        color: $secondary;
        &:hover,&:focus, &:active, &.is-active{
            color: white;
            border-color: white;
            &::after{
                background-color: white;
            }
        }

        // Color bg if full 
        &::before{
            background-color: $secondary;
        }
    }
}