@use "../abstract" as *;
@use "../base" as *;


.categorie{
    position: relative;
    padding: space(.3) space(.5);
    @extend %transition;
    @extend %rounded;
    width: fit-content;
    display: inline-flex;
    justify-content: center;
    z-index: 1;
    background-color: $grey;
    &:hover,&:focus,&.is-active{
        background-color: $dark;
        color: white;
    }

    &-dark{
        background-color: $dark;
        color: white;
        &:hover,&:focus,&.is-active{
            background-color: white;
            color: $dark;
        }
    }
}