@use "../abstract" as *;
@use "../base" as *;

$m-mobile: space(.5);
$m-destop: space(2);
$calcMobile: calc($m-mobile);
$calcTablette: calc($m-mobile + space(2.5));
$calcDestop: calc(((99vw - ($maxWidthContainer - space(4))) / 2));
.custom-line{
    position: relative;
    @extend %transition;
    transition-duration: 600ms;
    &::before,
    &::after{
        position: absolute;
        @extend %transition;
        transition-duration: 600ms;
        top: 22px;
        // @media screen and (min-width: 768px){
        //     top: 38px;
        // }
        // @media screen and (min-width: 1024px){
        //     top: 40px;
        // }
        height: 2px;
        // width: ;
        // content: "";
        background-color: $primary;
        // @extend %transition;
        // transition-duration: 800ms;
    }

    &::before{
        right: calc(100% + space(1));
        @media screen and (min-width: $maxWidthContainer){
            right: calc(100% + space(2));
        }
    }
    &::after{
        left: calc(100% + space(1));
        @media screen and (min-width: $maxWidthContainer){
            left: calc(100% + space(2));
        }
        transform-origin: left;
    }

    &-left{
        @extend .custom-line;
        margin-left: $m-mobile;
        @media screen and (min-width: 768px){
            margin-left: $m-destop;
        }
        &::before{
            content: "";
            width: $calcMobile;
            @media screen and (min-width: 768px){
                width: $calcTablette;
            }
            @media screen and (min-width: $maxWidthContainer){
                width: $calcDestop;
            }
        }
        &::after{
            display: none;
        }
        &.title-is-show{
            margin-left: calc($m-mobile + space(3));
            @media screen and (min-width: 768px){
                margin-left: calc($m-destop + space(4));
            }
            @media screen and (min-width: $maxWidthContainer){
                margin-left: calc($m-destop + space(12));
            }
            &::before{
                width: calc($calcMobile + space(3));
                @media screen and (min-width: 768px){
                    width: calc($calcTablette + space(4));
                }
                @media screen and (min-width: $maxWidthContainer){
                    width: calc($calcDestop + space(12));
                }
            }
            // transform: translateX(-50px);
        }
    }
    &-center{
        @extend .custom-line;
        &::before,
        &::after{
            content: "";
            width: 50px;
            @media screen and (min-width: 768px){
                width: 100px;
            }
            @media screen and (min-width: 1024px){
                width: 200px;
            }
        }
        &.title-is-show{
            &::before,
            &::after{
                width: 75px;
                @media screen and (min-width: 768px){
                    width: 200px;
                }
                @media screen and (min-width: 1024px){
                    width: 300px;
                }
            }
        }
    }
    &-right{
        @extend .custom-line;
        margin-right: $m-mobile;
        @media screen and (min-width: 768px){
            margin-right: $m-destop;
        }
        &::after{
            content: "";
            width: $calcMobile;
            @media screen and (min-width: 768px){
                width: $calcTablette;
            }
            @media screen and (min-width: $maxWidthContainer){
                width: $calcDestop;
            }
        }
        &::before{
            display: none;
        }

        &.title-is-show{
            margin-right: calc($m-mobile + space(3));
            @media screen and (min-width: 768px){
                margin-right: calc($m-destop + space(4));
            }
            @media screen and (min-width: $maxWidthContainer){
                margin-right: calc($m-destop + space(12));
            }
            &::after{
                width: calc($calcMobile + space(3));
                @media screen and (min-width: 768px){
                    width: calc($calcTablette + space(4));
                }
                @media screen and (min-width: $maxWidthContainer){
                    width: calc($calcDestop + space(12));
                }
            }
            // transform: translateX(-50px);
        }
    }
    &-secondary{
        &::before,
        &::after{
            background-color: $secondary;
        }
    }
}