@use "../abstract" as *;
@use "../base" as *;

$m-mobile: space(2);
$m-destop: space(4);
$calcMobile: calc($m-mobile);
$calcTablette: calc($m-mobile + space(3));
$calcDestop: calc(((100vw - ($maxWidthContainer - space(4))) / 2) + space(1.5));
.custom-line{
    position: relative;
    &::before,
    &::after{
        position: absolute;
        top: 22px;
        // @media screen and (min-width: 768px){
        //     top: 38px;
        // }
        // @media screen and (min-width: 1024px){
        //     top: 40px;
        // }
        height: 2px;
        // width: ;
        // content: "";
        background-color: $primary;
        // @extend %transition;
        // transition-duration: 800ms;
    }

    &::before{
        right: calc(100% + space(1));
        @media screen and (min-width: $maxWidthContainer){
            right: calc(100% + space(2));
        }

    }
    &::after{
        left: calc(100% + space(1));
        @media screen and (min-width: $maxWidthContainer){
            left: calc(100% + space(2));
        }
        transform-origin: left;
    }

    &-left{
        @extend .custom-line;
        margin-left: $m-mobile;
        @media screen and (min-width: 768px){
            margin-left: $m-destop;
        }
        &::before{
            content: "";
            width: $calcMobile;
            @media screen and (min-width: 768px){
                width: $calcTablette;
            }
            @media screen and (min-width: $maxWidthContainer){
                width: $calcDestop;
            }
        }
        &::after{
            display: none;
        }
    }
    &-center{
        @extend .custom-line;
        &::before,
        &::after{
            content: "";
            width: 75px;
            @media screen and (min-width: 768px){
                width: 150px;
            }
            @media screen and (min-width: 1024px){
                width: 250px;
            }
        }
    }
    &-right{
        @extend .custom-line;
        margin-right: $m-mobile;
        @media screen and (min-width: 768px){
            margin-right: $m-destop;
        }
        &::after{
            content: "";
            width: $calcMobile;
            @media screen and (min-width: 768px){
                width: $calcTablette;
            }
            @media screen and (min-width: $maxWidthContainer){
                width: $calcDestop;
            }
        }
        &::before{
            display: none;
        }
    }
    &-secondary{
        &::before,
        &::after{
            background-color: $secondary;
        }
    }
}