@use "../abstract" as *;

.title{
    font-family: 'Barlow Condensed', sans-serif;
    // font-weight: 400;
    color: white;
    // letter-spacing: 0.025em;
}

.title__h1,
.title__h2,
.title__h3,
.title__h4,
.title__h5,
.title__h6{
    @extend .title;
}

.title__h1{
    font-size: clamp(48px, 5vw, 64px);
    font-weight: 500;
}

.title__h2{
    font-size: clamp(42px, 5vw, 54px);
    font-weight: 500;
    line-height: 2.5rem;
}
.title__h3{
    font-size: 2rem;
    font-weight: 400;
}

.title-container{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: space(1);
}