@use "../abstract" as *;
@use "../base" as *;

.footer{
    padding: space(1);
    @media screen and (min-width: 768px){
        padding: space(1) space(2);
    }
    background-color: $secondary;
}

