@use "../abstract" as *;
@use "../base" as *;

.nav{
    @extend %flexCenter;
    justify-content: space-between;
    gap: space(1);
    &__list{
        @extend %flexCenterCenter;
        gap: space(1);
    }
}